# Discord and bot essentials
discord.py==2.6.2
python-dotenv==1.0.1
aiohttp==3.9.5

# Web server
flask==2.3.3

# HTTP requests & API
requests==2.31.0
supabase==2.3.2
cloudconvert==2.1.1

# Image / GIF / Video handling
pillow==10.0.0
moviepy==2.0.0
imageio-ffmpeg==0.4.10
ffmpeg-python==0.2.0
